.newQuestionLabel,.newQuestionInput,.newQuestionButton{
    display: block;
    width: 439px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
    
}
.newQuestionInput, .sign-up-input{
    background-color: #F0A587;
    border-radius: 10px;
    border: none;
    color: rgb(40, 40, 41);
    font-weight: 600;
    font-size:  18px;
}
.newQuestionButton, .sign-up-button{
    margin-top: 2vh;
    height: 30px;
    justify-content:center;
    background-color:#2B59C3;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    color: white;
    font-weight: 550;
    transition: 0.5s;
    margin-left: 5px;
}
.newQuestionButton:hover, .sign-up-button {

    background-color: #2C79F8;
    transition: 0.5s;

}
.newQuestionForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-input#sign-up-password{
    margin-left:aut;
}
.sign-up-input#sign-up-confirmPassword{
    margin-left:10px;

}
.sign-up-input#sign-up-username{
    padding-left: 88px;
    text-align: left;
}
.sign-up-input{
    margin-bottom: 10px;
    margin-left: 10px;
}
.sign-up-input#sign-up-email{
    padding-left:88px;
}
.sign-up-modal-form{
    display: block;
    position: center;
    margin-right: auto;
    margin-left: auto;
}
.t{
    margin-right: auto;
}
