.newQuestionLabel,.newQuestionInput,.newQuestionButton{
    display: block;
    width: 439px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
    
}
.newQuestionInput, .sign-up-input, .update-answer-textarea{
    background-color: #F0A587;
    border-radius: 10px;
    border: none;
    color: rgb(40, 40, 41);
    font-weight: 600;
    font-size:  18px;
}
.update-answer-textarea{
    margin-left: 60px;
   
}

.edit-answer-label{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

    font-family: 'Abril Fatface', cursive;
    
}
.newQuestionButton, .sign-up-button, .update-answer-button{
    margin-top: 2vh;
    height: 30px;
    justify-content:center;
    background-color:#2B59C3;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    color: white;
    font-weight: 550;
    transition: 0.5s;
    margin-left: 5px;
}


.update-answer-button{
    margin-left:100px;
}
.newQuestionButton:hover, .sign-up-button:hover, .update-answer-button:hover {

    background-color: #2C79F8;
    transition: 0.5s;

}
.newQuestionForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-input#sign-up-password{
    margin-left:aut;
}
.sign-up-input#sign-up-confirmPassword{
    margin-left:10px;

}
.sign-up-input#sign-up-username{
    padding-left: 88px;
    text-align: left;
}
.sign-up-input{
    margin-bottom: 10px;
    margin-left: 10px;
}
.sign-up-input#sign-up-email{
    padding-left:88px;
}
.sign-up-modal-form{
    display: block;
    position: center;
    margin-right: auto;
    margin-left: auto;
}
.t{
    margin-right: auto;
}













.modal-label-signup-login, .modal-input-signup-login, .edit-question-modal-label{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.modal-input-signup-login#confirm-password{
    margin-bottom: 0px;
}

.modal-input-signup-login, .edit-question-modal-input{
    background-color: #F0A587;
    border-radius: 10px;
    border: none;
    color: rgb(40, 40, 41);
    font-weight: 400;
    font-size:  16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-input-signup-login#submit, .modal-input-signup-login#loginbtn, #update-question {
    height: 30px;
    justify-content:center;
    background-color:#2B59C3;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    color: white;
    font-weight: 550;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}

.modal-input-signup-login#loginbtn{
    margin-top: 10px;
}



#update-question{
margin-top: 10px;
margin-left: 55px;
margin-right: auto;
margin-bottom: 10px;

}
.modal-input-signup-login#submit:hover, .modal-input-signup-login#loginbtn:hover, #demo-button:hover, #sign-up-button:hover, #log-in-button:hover, #update-question:hover{
     background-color: #2C79F8;
    transition: 0.5s;

}
.edit-question-modal-input{
    margin-left: 10px;
    margin-right: 10px;
}
